@charset "UTF-8";

header #btnMenu {
    display: block;
    cursor: pointer;
    border: 1px solid #FFFFFF8F;
    border-radius: .5rem;
    padding: .7rem;
    z-index: 2000;
}

header #hamburger{
    display: block;
    width: 1.5rem;
    border-top: 2px solid;
    color: currentColor;
    transition: .3s;
  }
  
#hamburger::after, #hamburger::before {
    content: '';
    position: relative;
    display: block;
    width: 1.5rem;
    height: 2px;
    margin-top: 4px;
    background: currentColor;
    transition: .3s;
}

header.active #hamburger {
    transform: rotate(180deg);
    border-top-color: transparent;
}

header.active #hamburger::after {
    top: -6px;
    transform: rotate(130deg)
}

header.active #hamburger::before {
    transform: rotate(-130deg)
}

#menuPri {
    position: fixed;
    left: 0px;
    top: 60px;
    width: 0px;
    height: calc(100vh - 60px);
    display: block;
    background-color: white;
    transition: .3s;
    visibility: hidden;
    overflow: hidden;
    color: black;
    text-align: center;
    
}

#menuPri .div-flex {
    display: block;
}

header > #menuPri a{
    color: var(--c2);
    padding: .8rem 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.062);
    font-weight: 900;
}

header > #menuPri a:hover{
    background-color: var(--c4);
    color: white;
}

header.active > #menuPri {
    width: 50vh;
    visibility: visible;
    overflow-y: auto;
    box-shadow: 50vw 0px 1px rgba(0, 0, 0, 0.342);
}


#conhecimentos article > div {
    justify-content: center;
}


